<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UnityCacheServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ucs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Com.Yocero.UnityCache.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ucs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UnityCacheServer.Properties.Settings>
            <setting name="CacheRootPath" serializeAs="string">
                <value>cache</value>
            </setting>
            <setting name="MaxCacheSizeMB" serializeAs="string">
                <value>20480</value>
            </setting>
            <setting name="Port" serializeAs="string">
                <value>8125</value>
            </setting>
        </UnityCacheServer.Properties.Settings>
        <ucs.Properties.Settings>
            <setting name="MaxCacheSizeMB" serializeAs="string">
                <value>20480</value>
            </setting>
            <setting name="Port" serializeAs="string">
                <value>8125</value>
            </setting>
        </ucs.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Com.Yocero.UnityCache.Properties.Settings>
            <setting name="MaxCacheSizeMB" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>8125</value>
            </setting>
            <setting name="CacheFreePercentage" serializeAs="String">
                <value>0.9</value>
            </setting>
        </Com.Yocero.UnityCache.Properties.Settings>
        <ucs.Properties.Settings>
            <setting name="CacheRootPath" serializeAs="string">
                <value>./</value>
            </setting>
        </ucs.Properties.Settings>
    </applicationSettings>
</configuration>